.div6{  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 150px;  /*المسافة بين الصور */
    padding: 50px; 
    width: 90%;
    margin-bottom: 10px;

    row-gap: 30px
    
}

.div6 div img{
    width: 150px;
    height: auto;
    margin-top: 5px;
    margin-left:50px;
   box-shadow: 0 8px 16px rgba(0,0,0,0.3);
     
 }
 
 
 .div6 div{
 
     height: 350px; 
     width: 250px;
 border-width: 3px;
 background-color: rgb(255, 255, 255);
 border: 1px solid ;
 box-shadow:rgb(53, 53, 53);


 }

 .div6 div:hover{

    box-shadow: 0 0 10px rgba(8, 161, 172), 0 0 10px rgba(8, 161, 172);
    transition: transform 0.3s ease;
 }

 .div6 div img:hover{
       transform: scale(1.01);

  
}



 
.div6 p{
font-size: 20px;
text-align: center;
margin-top: 5px;

}

.div6 div a{

border: 2px solid rgb(8, 161, 172);
    background-color: white;      
padding: 7px;
padding-left: 15px;
padding-right: 15px;
text-align: center;
margin-left:70px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif
   
    }
    .div6 input{
    
        margin-left: 65px;
        margin-right: 50px;
        margin-bottom: 10px;
        margin-top: -20px;
       }


    

    
        .div7{
            
            display: flex;
            justify-content:space-between;
    
            border-width: 2px;
            background-color: rgb(255, 255, 255);
     
    
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 0 50px;
            margin: 20px;
            padding-top :20px; 
            height: 300px;
            width: auto; 
       
        }
    
    
    
        .div7 i{
            
            position: relative;
            float: right;
            font-size: 120px;
          
            bottom: 20px;
            color: #eaeaea;
        }
    
        .div7 div{
            
            box-shadow: 0 0 15px rgba(8, 161, 172), 0 0 15px rgba(8, 161, 172);
            padding-left: 10px;
            padding-top: 10px;
            
        }
        
        .div7 img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            float: left;
            margin-right: 15px;
        }
    
        .div7 p{
          padding-top: 30px;
            font-size: 14px;
            color: #555;
            line-height: 1.5;
            margin: 10px 0; 
            font-family: Arial, Helvetica, sans-serif;
            
        }
    .div7 h3{
        position: relative;
        top:70px;
        right: 85px;
     
       font-family: Arial, Helvetica, sans-serif;
     
    }
    
   
    
    
    .blog-section {
        margin: 40px;
        padding: 20px;
        margin: 25px 0;
        
    }
    
    .blog-section h2 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        margin-bottom: 20px;
    
        
    }
    
    .blog-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 15px;
       
    }
    
    .blog-card {
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        
        padding: 0px;
        text-align: left;
    }
    
    .blog-card img {
        width: 100%;
        height: 250px; 
        object-fit: cover; 
        padding-bottom: 15px;
     
    }
    
    .blog-card h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(8, 161, 172);
        margin-bottom: 10px;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10px;
        
    }
    
    .blog-card p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 1.5;
        color: #000000;
    
        text-align: justify;
        width: 90%;
        margin: 0 auto;
       
        
    }
    
    .blog-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 16px;
    
        width: 90%;
        margin: 0 auto;
       
    }
    
    .blog-icons .heart-icon {
        color: rgb(8, 161, 172);
    }
    
    
    