
html{
    scroll-behavior: smooth;
}

.header input{

    position: relative;
    right: 3px;
    left: 350px;
    }

   .menu{
   
    list-style: none;
    display: flex;
    margin: 0%;
    padding: 0%;
    margin-right: 500px;

    
}

 







 .menu li{
    margin: 10px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif
}
a{
    text-decoration: none;
    color: black;
    
}
.menu li:hover{
    background-color: rgb(8, 161, 172);
   
    border-radius: 3px;
}


.header {
    display: flex;
    justify-content:space-between;
    
    align-items: center;
    width: 100%;
    padding: 10px;
top: 0;
left: 0;
    background-color: #fefcfc;
    /*border: 1px solid;*/
    box-shadow: 0 0 15px rgba(8, 161, 172), 0 0 15px rgba(8, 161, 172);
    background-repeat: no-repeat;
    /*background-repeat: repeat-x;*/
    position: fixed;
    
z-index: 1000;


   

}
.header img{
    margin-left: 120px;
    width: 90px;
    height: auto;

    
}





body{
    background: url("bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.div2{
    display: flex;
    justify-content:space-between;
    margin: 50px;
}

.div2 input{
    background-color:rgb(8, 161, 172);
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}
.div2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top :140px;
    
    
}
span{
color:  rgb(8, 161, 172)


}
.div2 p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    padding-bottom :20px; 
    padding-top: 0px;
    text-align: justify;
   
   
}
.div3{
    display: flex;
    justify-content:space-between;
    margin: 20px;
    padding-top :80px; 
    height: 200px;
    width: auto; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
   
}
.div3 div {

height: 10; 
border-width: 3px;
background-color: white;
border: 2px solid transparent;
box-shadow: 0 0 15px rgba(8, 161, 172), 0 0 15px rgba(8, 161, 172);
width: 300px;

}
.div3 div img{
    margin-top: 5px;
    margin-left:80px;
    width: 100px;
   
}
.div3  i{
    color: #089da1;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}
.div4{
    display: flex;
    justify-content:space-between;
    margin: 30px;
    
}
.div4 img{

    width: 750px;
    height: auto;
    padding-bottom :70px; 
}

.div4 h2{
font-size: 50px;
padding-top: 70px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 50px;
 margin-left: 40px;
  margin-right: 80px; 

}

.div4 p{
margin-left: 40px; 
margin-right: 80px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;

}


.div4 input{
  
    margin-left: 40px; 
    margin-right: 80px; 
  
    background-color:rgb(8, 161, 172);
    color: white;
    border: none;
    width: 100px;
    height: 30px;
   


}


.div5 a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(8, 161, 172);
    display: inline;
    white-space: nowrap;
}
.div5 input{
  
   /* border:2px double rgb(8, 161, 172);
    background-color: white;
*/
border: 2px solid rgb(8, 161, 172);
    background-color: white;      
padding: 7px;
padding-left: 15px;
padding-right: 15px;
text-align: center;
margin-right:10px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif
    
}
.div5 div{
    border: 1px solid;
    margin: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-top: 2px;

}


.div5 div:hover{
    box-shadow: 0 0 10px rgba(8, 161, 172), 0 0 10px rgba(8, 161, 172);
 
}

.div5{
    display: flex;
    justify-content:space-around;
    margin: 20px;
    
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
}

.div5 h2{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    white-space: nowrap;
}
.div5 h5{
    font-family: Arial, Helvetica, sans-serif;
    color: #999;

}


.price{
    margin: 10px ;
    font-size: 1rem;
    
}
.current-Price{
    font-weight: bold;
    color: #333;
}
.original_price{
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}